{% extends "layout.html" %}

{% block content %}
<h1> Predictions </h1>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
              New Prediction
            </div>
            <div class="card-body">
              <h5 class="card-title">Insert city</h5>
              <p class="card-text">Insert a city for the weather predictions</p>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                Predictions
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>


{% endblock %}