{% extends "layout.html" %}

{% block content %}
<h1> Predictions </h1>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
              Insert Prediction
            </div>
            <div class="card-body">
              <h5 class="card-title">Insert city</h5>
              <p class="card-text">Insert a city for the weather predictions</p>

              <form method="POST" action="/">
                {{ form.hidden_tag() }}
                
                {% include '_flashes.html' %}

                <label for="country_code" class="form-label">Country Code:</label>
                {{ form.country_code(size=32, class="form-control", placeholder="NL") }}

                <label for="city" class="form-label space-top">City:</label>
                
                {% for error in form.city.errors %}
                  <span>{{ error }}</span>
                {% endfor %}

                {{ form.city(size=32, class="form-control", placeholder="Amsterdam") }}
                {{ form.submit(class="btn btn-primary") }}
              </form>
            </div>
            <ul>
              {% for prediction_request in prediction_requests %}
              <li>
                <button type="button" class="btn btn-secondary">{{ prediction_request.country_code }} -{{ prediction_request.city }}</button>
                
                <a type="button" class="btn btn-warning" href="/edit_prediction_request/{{prediction_request.id}}">EDIT</a>
                
              </li>
              {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                Predictions
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>


{% endblock %}